<div class="welcome-container">
    <h1 class="welcome-title">Dontfile</h1>
    <p class="welcome-description">The dontpad of files</p>
</div>
<div class="welcome-router">
    www.dontfile.com/&nbsp&nbsp&nbsp&nbsp<input type="text" name="input_url"></input>
</div>

<div class="welcome-container">
    <div class="welcome-sub-description">
        Dont sign in, just use a URL<br>
        Dont save, text is saved automatically<br>
        Dont save x2, just upload your file<br>
        Dontfile!
    </div>
</div>

