<div class="welcome-container">
  <h1 class="welcome-title">Dontfile</h1>
  <p class="welcome-description">The dontpad of files</p>
</div>
<form class="welcome-router" action="javascript:goToPage()">
  <span>www.dontfile.com/</span>
  <input type="text" id="input"></input>
  <button>Go!</button>
</form>

<div class="welcome-container">
  <div class="welcome-sub-description">
    Don't sign in, just use a URL<br>
    Don't save, text is saved automatically<br>
    Don't send files, just share your URL<br>
    Dontfile!
  </div>
</div>
<div class="welcome-container welcome-footer">
  <i class="fab fa-github"></i>
  <span>Join us on</span>
  <a href="https://github.com/MatheusRich/dontfile">Github!</a>  
</div>
