#buttons, a.button {
  float: left;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.button {
  text-decoration: none;
  cursor: pointer;

  color: #222;
  background: linear-gradient(#fdfdfd, #f0f0f0, #e9e9e9, #dadada);
  border: 1px solid #999;
  border-radius: 1px;
  margin-right:10px;
  padding: .3em;
}

.button:hover {
  border-color: #777;
}