// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#text-area, #file-area {
  width: 47.5%; 
}

#text {
  width: 100%;
  height: 490px;
  resize: none;
}
