// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  width: 100%;
  height: 380px;
  resize: none;
}

#file-area {
  display: flex;
  flex-direction: row;

  h4 {
    margin-top: 0;
  }
}

#attachment {
  display: flex;  
  flex-direction: row;

  img {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px
  }
}