// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  @media screen and (max-width: "768px") {
    height: 40vh;
  }
  resize: none;
}

#file-area {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: "768px") {
    flex-direction: column;
  }

  h4 {
    margin-top: 0;
  }
}

#file{
  margin-right: 5px;
}

#attachment {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: "768px") {
    margin-top: 20px;
  }

  p {
    margin-left: 5px;
    overflow-wrap: break-word;
    max-width: 230px;
  }

  i {
    font-size: 25px;
    height: auto;
    width: auto;
  }
  i[class^='far fa-file-'] {
    font-size: 4em;
  }
  img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px
  }
}

.welcome {
  &-container {
    margin: 5em auto 0vw auto;
    text-align: center;
  }

  &-title {
    font-size: 5.5em;
  }

  &-description {
      font-size: 1.3em;
    color: #888;
  }

  &-sub-description {
    display: inline-block;
    font-size: 1.3em;
    text-align: justify;
    line-height: 2;
  }

  &-router {
    justify-content: center;
    margin: 5em auto auto auto;
    display: flex;
    font-size: 1.3em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;

    input {
      width: 100%;
      max-width: 500px;
      margin: 0 3px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    position: fixed;
    bottom: 0.5em;
    width: 100%;

    i {
      font-size: 1.5em;
    }

    span {
      margin: auto 4px;
    }
  }
}

.hidden {
  display: none;
}
