// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text {
  width: 100%;
  height: 70vh;
  @media screen and (max-width: "768px") {
    height: 40vh;
  }
  resize: none;
}

#file-area {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: "768px") {
    flex-direction: column;
  }

  h4 {
    margin-top: 0;
  }
}

#attachment {
  display: flex;  
  flex-direction: row;
  @media screen and (max-width: "768px") {
    margin-top: 20px;
  }


  img {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px
  }
}

.welcome {
  &-container {
    margin: 5em auto 0vw auto;
    text-align: center;
  }

  &-title {
    font-size: 5.5em;            
  }

  &-description {
      font-size: 1.3em;
    color: #888;
  }

  &-sub-description {
    display: inline-block;
    font-size: 1.3em;
    text-align: justify;
    line-height: 2;
  }

  &-router {
    justify-content: center;
    margin: 5em auto auto auto;
    display: flex;
    font-size: 1.3em;
    text-align: center;
    height: 1.5em;
    line-height: 1.5em;

    input {
      width: 100%;
      max-width: 500px;
      margin: 0 3px;
    }
  }

  &-footer {
    margin-top: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;

    i {
      font-size: 1.5em;
    }

    span {
      margin: auto 4px;
    }
  }
}
